[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python3-saml = "*"
pycryptodome = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.9"
